<p id="notice"><%= notice %></p>

<h1> Name of Blog</h1>


<div class="row">
  <% @blog_posts.each do |blog_post| %>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><%= link_to blog_post.title, blog_post %> </h3>
      </div>
      <div class="panel-body">
       <strong> by <%= blog_post.user.username %></strong> on <%=blog_post.created_at.strftime('%m/%d/%Y') %><br />
        
        <p><%= truncate(blog_post.blog_entry, length: 100, separator: ' ') %></p>
         <p> <%= link_to "Read More about #{blog_post.title}", blog_post%> 
        </p>
      </div>
      <div class="panel-footer">
        <%= link_to 'Edit', edit_blog_post_path(blog_post), class: "btn btn-danger" %>
        <%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<br>

<%= link_to 'New Blog post', new_blog_post_path, class: "btn btn-default" %>

