<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
	<div class="panel-heading">
  <%= @blog_post.title %>
</div>

<div class="panel-body">
  <p><strong><%= @blog_post.author %></strong></p>
  <p><%= @blog_post.blog_entry %></p>
 </div>
</div>

<div class="panel panel-success">
	<div class="panel-heading">
		Leave a comment
</div>

<div class="panel-body">
	<%= render 'comments/form' %>
  </div>
</div>

<div>
 <%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
 <%= link_to 'Back', blog_posts_path %>
</div>

<div class="panel panel-default">
	<div class="panel-header">
		<h4>Comments</h4>
	</div>
	<% @blog_post.comments.each do |comment| %>
	<div class="panel-body">
		<p><strong><%= cooment.author %></strong>
			<p><%= comment.comment_entry %></p>
		</div>
		<% end %>
	</div>